<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Registro de Usuário</h2>
      <form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
        <div class="mb-3">
          <label for="name" class="form-label">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nome" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="E-mail" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Senha" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
      </form>
    </div>
  </div>
</div>
