<!-- FILEPATH: /c:/Users/kaio.fonseca/Documents/api-khaio/projeto-gaia/src/app/shared/components/header/header.component.html -->

<!-- Include Bootstrap CSS and JS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- Header -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Projeto Gaia</a>


      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" *ngIf="isLogged">
          <li class="nav-item">
            <a class="nav-link" routerLink="padrao">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="orders">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="customers">Customers</a>
          </li>
        </ul>

        <form class="d-flex align-items-center p-md-5">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success ms-2" type="submit">Search</button>
        </form>


        <div class="text-end ">
          <p *ngIf="!isLogged">Please login to access</p>
          <button type="button" class="btn btn-light text-dark me-2" routerLink="login" *ngIf="!isLogged">Login</button>
          <button type="button" class="btn btn-primary" routerLink="register" *ngIf="!isLogged">Sign-up</button>
        </div>
      </div>
    </div>
  </nav>
</header>
